itsdangerous>=2.2.0
flask>=3.0.0
jinja2>=3.1.0
werkzeug>=3.0.0
pytest>=8.0.0
pytest-cov>=5.0.0
pytest-html>=4.0.0
coverage>=7.0.0
hypothesis>=6.100.0
attrs>=22.0.0
vulture>=2.10
sphinx>=7.0.0
sphinx_rtd_theme>=3.0.0
